.poster-image {
  width: 400px;
  height: 400px;
  object-fit: cover;  // Maintain aspect ratio and cover the container
  margin-right: 20px; // Adjust margin based on your preference
}

.details-container {
  flex-grow: 1; // Allow details to fill the available space
}
.container{
  position: relative;
  float: left;
  left: 455px;
  top: -295px
  
}
.divContainer{
  width: 1000px;
  position: relative;
  float:left;
  top: 300px;
  /* left: -214px; */
  right: 250px
 
}