.img-fluid {
  height: 400px;
  width: 400px;
  margin: 10px; /* Adjust the value to set the desired space */
}
.container{
  position: relative;
  top:100px;
  margin: auto;
}
.marquee-text {
  color: red; /* Change to the desired color */
  font-size: 40px;
}