<div class="container">
  <button type="button" class="btn btn-success" routerLink="">Back</button>
  <marquee behavior="scroll" direction="left">
      <h1 class="marquee-text">This Is Horror Movies Page</h1>
  </marquee>
  
  <div class="row">
      <div class="col">
          <img src='assets/3.jpg' alt="action" class="img-fluid" >

      </div>
      <div class="col">
          <img src='assets/image 3.jpg' alt="action" class="img-fluid" >

      </div>
      <div class="col">
          <img src='assets/image 4jpg.jpg' alt="action" class="img-fluid" >

      </div>
      <div class="col">
          <img src='assets/images.jpg' alt="action" class="img-fluid" >

      </div>
  </div>
      
      
  
</div>
